
#salmão{
position: absolute;
width: 950px;
height: 370px;
background-color: rgb(245, 140, 102);
color: rgb(245, 140, 102);
text-align: center;
top: 10px;
left: 200px;
z-index: 1;
}

#branco{
position: absolute;
width: 700px;
height: 50px;
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
text-align: center;
top: 150px;
left: 350px;
z-index: 1;
}

#cinza{
position: absolute;
width: 50px;
height: 50px;
background-color: rgb(82, 82, 82);
color: rgb(82, 82, 82);
text-align: center;
top: 150px;
left: 1000px;
z-index: 1;
}

#cinzaa{
position: absolute;
width: 190px;
height: 40px;
background-color: rgb(185, 185, 185);
color: rgb(185, 185, 185);
text-align: center;
top: 440px;
left: 240px;
z-index: 2;
}

#quadrado{
position: absolute;
width: 190px;
height: 40px;
background-color: rgb(185, 185, 185);
color: rgb(185, 185, 185);
text-align: center;
top: 440px;
left: 460px;
z-index: 2;
}

#quadradoo{
position: absolute;
width: 190px;
height: 40px;
background-color: rgb(185, 185, 185);
color: rgb(185, 185, 185);
text-align: center;
top: 440px;
left: 680px;
z-index: 2;
}


#quadradooo{
position: absolute;
width: 190px;
height: 40px;
background-color: rgb(185, 185, 185);
color: rgb(185, 185, 185);
text-align: center;
top: 440px;
left: 910px;
z-index: 3;
}

#quadradinho{
position: absolute;
width: 120px;
height: 15px;
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
text-align: center;
top: 450px;
left: 280px;
z-index: 3;
box-sizing:border-box
}

#quadradinhoo{
position: absolute;
width: 120px;
height: 15px;
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
text-align: center;
top: 450px;
left: 495px;
z-index: 3;
box-sizing:border-box
}

#quadra{
position: absolute;
width: 120px;
height: 15px;
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
text-align: center;
top: 450px;
left: 715px;
z-index: 3;
box-sizing:border-box
}

#quadraa{
position: absolute;
width: 120px;
height: 15px;
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
text-align: center;
top: 450px;
left: 950px;
z-index: 3;
box-sizing:border-box
}

#salmãoo{
position: absolute;
width: 200px;
height: 200px;
background-color: rgb(245, 140, 102);
color: rgb(245, 140, 102);
text-align: center;
top: 550px;
left: 200px;
z-index: 6;
box-sizing:border-box
}


#cin{
position: absolute;
width: 200px;
height: 200px;
background-color: rgb(225, 230, 230);
color: rgb(225, 230, 230);
text-align: center;
top: 550px;
left: 440px;
z-index: 6;
box-sizing:border-box
}

#ciano{
position: absolute;
width: 200px;
height: 200px;
background-color: rgb(17, 203, 190);
color: rgb(17, 203, 190);
text-align: center;
top: 550px;
left: 679px;
z-index: 7;
box-sizing:border-box
}

#ciani{
position: absolute;
width: 200px;
height: 200px;
background-color: rgb(17, 203, 190);
color: rgb(17, 203, 190);
text-align: center;
top: 790px;
left: 200px;
z-index: 7;
box-sizing:border-box
}

#salma{
position: absolute;
width: 440px;
height: 200px;
background-color: rgb(245, 140, 102);
color: rgb(245, 140, 102);
text-align: center;
top: 790px;
left: 440px;
z-index: 7;
box-sizing:border-box
}

#cinti{
position: absolute;
width: 240px;
height: 440px;
background-color: rgb(225, 230, 230);
color: rgb(225, 230, 230);
text-align: center;
top: 550px;
left: 899px;
z-index: 7;
box-sizing:border-box
}
 
#quanti{
position: absolute;
width: 950px;
height: 610px;
background-color: rgb(237, 236, 236);
color: rgb(225, 230, 230);
text-align: center;
top: 380px;
left: 200px;
z-index: 0;
box-sizing:border-box
}

